<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="21af356c-cd83-4f94-8efa-5ea5ba40fa57" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="21af356c-cd83-4f94-8efa-5ea5ba40fa57fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
